/* ============================================
   FONT FACES - Inter
   ============================================ */

  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/dosis-v34-latin-500.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/dosis-v34-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/dosis-v34-latin-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: url('@/assets/fonts/dosis-v34-latin-800.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/dosis-v34-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Junge';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/junge-v26-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Metamorphous';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/metamorphous-v22-latin-regular.woff2') format('woff2');
  }
